.analytics-title{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 2rem;
}

.analytics-hr{
    border: none;
    height: 2px;
    background-color: black;
}

.analytic-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.analytic-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.analytics-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 30px;
    padding: 30px 15px;
    width: 13rem;
}

.analytic-row-recent{
    height: min-content;
}

.analytics-recent{
    width: 20rem;
    padding: 30px 5px;
}

.analytics-recent-name{
    padding: 30px 0 !important;
}

.analytics-card-name{
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.analytics-card-number{
    font-size: 3.5rem;
    padding: 40px 0;
    font-weight: 400;
}

.analytic-graph{
    width: 51rem;
    height: 16rem;
}

.analytic-btn-box{
    border: 2px solid black;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px 0;
    width: 90%;
    text-align: center;
    font-weight: 500;
}

.analytic-graph .dashboard-title{
    padding-top: 5px;
}

@media (max-width: 1300px){
    .analytics-title {
        margin-top: 20px;
        margin-left: 8px;
        font-size: 1.8rem;
    }
    
    .analytics-hr {
        border: none;
        height: 2px;
        background-color: black;
    }
    
    .analytic-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .analytic-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    
    .analytics-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        margin: 20px;
        padding: 30px 10px;
        width: 12rem;
    }
    
    .analytic-row-recent {
        height: min-content;
    }
    
    .analytics-recent {
        width: 18rem;
        padding: 20px 5px;
    }
    
    .analytics-recent-name {
        padding: 20px 0 !important;
    }
    
    .analytics-card-name {
        padding: 0;
        padding-bottom: 8px;
        margin: 0;
        font-size: 1.3rem;
        font-weight: 500;
    }
    
    .analytics-card-number {
        font-size: 3rem;
        padding: 30px 0;
        font-weight: 400;
    }
    
    .analytic-graph {
        width: 45rem;
        height: 12rem;
    }
    
    .analytic-btn-box {
        border: 2px solid black;
        margin: 8px;
        margin-bottom: 0;
        padding: 8px 0;
        width: 85%;
        text-align: center;
        font-weight: 500;
    }
}

/* Responsive Adjustments */
@media (max-width: 1140px) {
    .analytics-title {
        font-size: 1.5rem;
    }

    .analytics-card-number {
        font-size: 2.5rem;
        padding: 20px 0;
    }

    .analytics-recent{
        display: none;
    }

}

@media (max-width: 768px) {
    .analytics-title {
        font-size: 1.3rem;
        margin-top: 15px;
        margin-left: 5px;
    }

    .analytics-card {
        width: 9rem;
        padding: 25px 6px;
        margin: 10px;
    }

    .analytics-card-name {
        font-size: 1.1rem;
    }

    .analytics-card-number {
        font-size: 2rem;
        padding: 15px 0;
    }

    .analytic-graph {
        width: 30rem;
        height: 8rem;
    }

    .analytics-recent {
        width: 15rem;
        padding: 15px 4px;
    }
}

@media (max-width: 480px) {
    .analytics-title {
        font-size: 1.1rem;
        margin-top: 10px;
        margin-left: 3px;
    }

    .analytics-card {
        width: 8rem;
        padding: 27px 5px;
        margin: 8px;
    }

    .analytics-card-name {
        font-size: 1rem;
    }

    .analytics-card-number {
        font-size: 1.8rem;
        padding: 10px 0;
    }

    .analytic-graph {
        width: 97%;
        height: 7rem;
        margin: 0;
    }

    .analytic-btn-box {
        width: 80%;
        padding: 6px 0;
    }

    .analytics-recent {
        width: 12rem;
        padding: 12px 3px;
    }
}